/main.py
/.idea/
/Test_01.py
/Test_02.py
/02 Повторяем Python/link source/source/
/02 Повторяем Python/link source/pay.txt
/02 Повторяем Python/link source/pay.rar
/02 Повторяем Python/tests/pay.txt
/02 Повторяем Python/tests/pay.rar
/02 Повторяем Python/tests/archive/
/03  Работа с датой-ременем/tests/archive/
